<h1>Edit Style</h1>

<%= render('layouts/errors', :object => @style) %>

<form role="form" action="/styles/<%= @style.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button class="btn btn-success btn">Update</button>
</form>