<div class="jumbotron">
<h1>GRAILS</h1>
</div>

<ul>
	<% @brands.each do |brand| %>
		<li><a href="/brands/<%= brand.id %>"><%= brand.name %></a></li>
	<% end %>
</ul>

<p><a href="/styles/new" class="btn btn-info btn">Add a grail</a></p>
<p><a href="/brands/new" class="btn btn-success btn">Add a brand</a></p>